.container {
  background-color: #dc143c;
  border-radius: 50px;
}

.pokedex-container, .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.display-left {
  width: 25%;
}

.flex1 {
  width: 75%;
  text-align: center;
}

.flex2 {
  width: 20%;
}

.display-right {
  width: 60%;
  height: 50%;
  border-radius: 25px;
}

.pokelist {
  list-style-type: none;
}

.display-right {
  border: 1em solid black;
  padding: 1em;
}

.pokeball-img {
  width: 5%;;
}

h1 {
  color: white;
  text-align: center;
  margin: 1em;
  padding-top: 1em;
}

h5 {
  text-align: center;
}

hr {
  border: 2px solid black;
}

a {
  color: white;
  text-decoration: none;
}

.pokemon-btn:hover, a:hover {
  background-color: red;
  color: white;
}

.flex-container, .pokedetails {
  background-color: black;
  color: white;
  border-radius: 25px;
  padding: 1em;
}

.pages {
  text-align: center;
  padding-bottom: 1em;
}


.pokemon-btn, .pg-btn {
  background-color: black;
  color: white;
}

.pg-btn {
  width: 20%;
}

.btn-close-white {
  border-radius: 100%;
  width: 10%;
}
